Diagnostics:
  ClangTidy:
    Add: [
      bugprone-*,
      cppcoreguidelines-*,
      modernize-*,
      performance-*,
      readability-*,
      clang-analyzer-*,
      misc-*
    ]

Index:
  Background: Build
