Diagnostics:
  ClangTidy:
    Add: [
      bugprone-*,
      cppcoreguidelines-*,
      modernize-*,
      performance-*,
      readability-*,
      clang-analyzer-*,
      misc-*,
      clang-analyzer-*
    ]
    Remove: [
      bugprone-easily-swappable-parameters,
      readability-identifier-length
    ]

Index:
  Background: Build
